---
import { getEntry } from "astro:content";

import "@src/styles/global.css";


import MainLayout from "@src/layouts/MainLayout.astro";
import Footer from "@components/UI/Footer.astro";
import BoletinHeader from "@components/Boletin/BoletinHeader.astro";
import TableOfContent from "@components/Boletin/TableOfContent.astro";
import BoletinFooter from "@components/Boletin/BoletinFooter.astro";
import JumpToTop from "@components/Boletin/JumpToTop.astro";

export async function getStaticPaths() {
  const boletines = await Astro.glob("../../content/boletines/*.md");
  return boletines.map((boletin) => ({
    params: { boletin: `boletin-${boletin.frontmatter.index}` },
  }));
}

const { boletin } = Astro.params;
const entry = await getEntry("boletines", boletin);
const { Content, headings } = await entry.render();
---

<MainLayout titulo={`Boletín ${entry.data.index} | ${entry.data.titulo}`}>

  <BoletinHeader boletin={entry.data} />

  <TableOfContent headings={headings} />

  <main class="container mt-5 content">
    <Content />

    <hr class="m-0">
  </main>

  <BoletinFooter rawTags={entry.data.tags} />
  <Footer />
  <JumpToTop />
</MainLayout>

<style lang="scss" is:global>
  @import 'bootstrap/scss/bootstrap.scss';
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

  .content {
    .data-footnote-backref {
        text-decoration: none;
        color: #000;
        position: absolute;

        &::after {
          content: "\F138";
          justify-content: flex-end;
          font-family: "bootstrap-icons";
          position: relative;
          bottom: 0em;
          left: 0.3em;
        }
    }

    img {
      @extend .img-fluid;
      @extend .mx-auto;
      margin-bottom: 0px;
    }

    p:has(> img) {
      text-align: center;
      justify-content: center;
    }

    .img-sub {
      @extend .bg-success;
      @extend .text-white;
      @extend .p-2;
      @extend .text-center;
      @extend .rounded-bottom;
      @extend .w-100;
      margin-top: 0px;
      font-size: 8pt;
      display: inline-block;
    }

    > section > section {
      @extend .gap-5;
      @extend .mb-3;
      column-count: 2;
      break-inside: avoid;
      break-after: column;
    }

    text-align: justify;

    h1 {
      @extend .p-3;
      @extend .mb-3;
      display: block;
      background-color: black;
      color: white;
    }

    h3 {
      @extend .h4;
      color: #414141;
    }

    h4 {
      @extend .h4;
      color: #414141;
    }

    hr {
      border: 2px solid rgb(92, 92, 92);
      opacity: 0.4!important;
    }

    blockquote {
      background-color: #f9f9f9;
      border-left: 10px solid #696969;
      border-radius: 0.3rem;
      @extend .p-3;
      @extend .pe-4;
      break-after: column;
    }

  }

</style>